{% extends 'base.html' %}
{% block title %}
  ToDo App
{% endblock title %}
{% block body %}
<div class="container mt-3 mb-5">
  <h3>Add Item</h3>
  <form action="/" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp">
          <div id="titleHelp" class="form-text">e.g. Homework</div>
      </div>
      <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" name="desc" id="desc" aria-describedby="descHelp">
        <div id="descHelp" class="form-text">e.g. Pythagoras Theorem Proof</div>
      </div>
      <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container">
  <h3>Your Items</h3>
    {% if allTodo|length == 0 %}
      <div class="alert alert-dark" role="alert">
        No records found!
      </div>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created on</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in allTodo %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{todo.title}}</td>
              <td>{{todo.desc}}</td>
              <td>{{todo.date_created}}</td>
              <td>
                <a type="button" href="/update/{{todo.sno}}" class="btn btn-outline-dark btn-sm me-2">Update</button>
                <a type="button" href="/delete/{{todo.sno}}" class="btn btn-outline-dark btn-sm">Delete</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
</div>
{% endblock body %}